*{
    margin: 0;
    padding: 0;
}
.calificacion5{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 200px;
    border-radius: 5px;
    height: 35px;
    border: 1px solid rgb(210,210,210.8);
    
}
.porcentaje{
    height:35px;
    background-color: rgb(11, 111, 165);
    width: 0px;
    transition: all 1s;
}
.porcentaje{
    display: flex;
    justify-content: center;
}