*{
    padding: 0;
    margin: 0%;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.img-background{
    width: 100%;
    height: 100vh;
    background-image: url("../img/https___cdn.cnn_.com_cnnnext_dam_assets_230224150645-01-best-beaches-world-tripadvisor-2023-card.webp");
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}
.img-logo{
float: left;
    width: 250px;
    height: 115px;
}
.barra-nav{
    width: 100%;
    height: 100px;
    position: absolute;
    display: flex;
    justify-content: center;
}
.main-nav{
    width: 1150px;
    height: 100px;
    background-color:transparent;
    position: absolute;
}
.main-menu{
    text-align: center;
}
li{
    display: inline-block;
    margin: 20px 25px;
    font-family: sans-serif;
    font-size: 1.3em;
}
a{
    text-decoration: none;
    color: black;
    text-decoration: none;
}
li:hover{
    cursor: pointer;
    font-weight: 600;
}