*{
    margin: 0;
    padding: 0%;
}
.style-icon{
 color: rgb(64, 64, 64);
 font-size: 1em;
 line-height: 1.8em;
 display: inline-block;
 padding: 26px 30px 0 30px;
 text-align: center;
 margin: auto;
font-size: 0.8;

}
ul{
    width: 80%;
    text-align: center;
    height: 100px;
    border-bottom: 1px solid rgb(64, 64, .3);
}
nav{
    display: flex;
    justify-content: center;
}
.texto-nuevo{
    font-size: 0.7em;
    background-color: rgb(250, 142, 4);
    padding: 0 6px;
    border-radius: 3px;
    color: white;
}
.icon-style-nuevo{
    display: inline-block;
    color: rgb(64, 64, 64);
    padding: 26px 30px 9px 30px;
    font-size: 1em;
    font-family: sans-serif;
    line-height: 0.9;
}
.style-icon:hover, .icon-style-nuevo:hover{
    cursor: pointer;
    color: rgb(24, 24, 24);
    font-weight: 600;
    border-bottom: 2px solid rgb(48, 48,  48);
}
