*{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
header{
    height: -100px;
    display: grid;
    grid-template: "logo nav"80px/
                    1fr  1fr;
}
.logo{
    position: relative;
    left: 10px;
    padding: 10px;
    grid-area: logo;
}
nav{
    grid-area: nav;
}
.main-content{
    z-index: 20;
position: fixed;
    margin-top: 140px;
    display: grid;
    grid-template: "empy-left  product-text  empy-center        product-img  social-media"/
                    140px           5fr     minmax(0, 300px)        4fr           80px   ;  
}
.product-txt{
    grid-area:product-text ;
    font-size: 2.1em;
}
.product-txt span{
   color:rgb(1, 113, 51);
}
.description-text p{
    margin-top: 30px;
  font-family: 'Poppins', sans-serif;
  font-size: 1.3em;
  line-height: 1.5em;
  font-weight: 500;
  
}
.button-letra{
    width: 200px;
    margin-top: 30px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(2, 104, 64);
    color: white;
    font-weight: 700;
    text-align: center;
    border: none;
    letter-spacing: 0.1em;

}
.button-letra:hover{
    width: 200px;
    margin-top: 30px;
    height: 50px;
    border-radius: 25px;
    background-color: rgb(12, 71, 47);
    color: white;
    font-weight: 700;
    text-align: center;
    border: none;
    letter-spacing: 0.1em;

}
.button-letra a{
    text-decoration: none;
    color: white ;
    font-size: 20px;         
}
.button-letra a:hover{
    color: beige;
}
.menu{
    position: relative;
    padding: 20px;
   display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}
.menu li{
    margin: 30px;
   list-style: none;
}
.menu li a{
    color:rgb(64, 64, 64) ;
    text-decoration: none;
    font-size: 1.2em;
    font-style: 500;
}
.main-circle{
    width: 1500px;
    height: 1500px;
    border-radius: 750px;
  position: fixed;
    bottom: -720px;
    right: -720px;
    z-index: 10;

}
.main-circle-rose{
    background-color:  rgb(213, 104, 136) ;
} 
.main-circle-pink{
    background-color:  rgb(215, 81, 176);
   
}
.main-circle-green{
    background-color:rgb(12, 71, 47);
   
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 200px;
    height: 100vh;
    flex-direction: column;
    position: fixed;
    right: 0;
    gap: 20px;
    top: 0;
    
}
.icono{
    display: flex;
    font-size: 40px;
    color: aliceblue;
    flex-direction: column;
    justify-content: center;
}
.box-final{

 display: flex;
   justify-content: center;
   margin-bottom: 500px;
   margin-left: 700px;
   margin-top: 480px;
}
.img-principal{
    height: 600px;
    grid-area:  product-img;
}
.img-principal img{
 z-index: 20;
    height: 100%;
    transition: 0.4s;
}
.img-principal img:hover{
    transform: translateY(-60px);
   
}
.box-final img:hover{
    transform: translateY(-60px);
}
.box-final img{
    transition: 0.8s;
}
.social-media ul{
    list-style: none;
    cursor: pointer;
}

