*{
    padding: 0%;
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
header{
    display: grid;
    grid-template: "logo nav"80px/
                    1fr  1fr;
}
.logo{
    position: relative;
    left: 10px;
    padding: 10px;
    grid-area: logo;
}
nav{
    grid-area: nav;
}
.menu{
    position: relative;
    padding: 20px;
   display: flex;
    justify-content: flex-end;
    padding-right: 100px;
}
.menu li{
    margin: 30px;
   list-style: none;
}
.menu li a{
    color:rgb(64, 64, 64) ;
    text-decoration: none;
    font-size: 1.2em;
    font-style: 500;
}
.circle{
    width: 1500px;
    height: 1500px;
    background-color: rgb(246, 148, 165);
    border-radius: 750px;
    position: fixed;
    bottom: -720px;
    right: -720px;
}
.social-media{
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 200px;
    height: 100vh;
    flex-direction: column;
    position: fixed;
    right: 0;
    gap: 20px;
    top: 0;
    
}