 body{
    font-family: 'Roboto', sans-serif;
    background-image: url("../mi_sitio_web/img/1_vxjAHkrXbGG6gOiPZgjeZA.jpeg");

    background-size: cover;
}
.box{
    margin-right: 800px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: none;
}


.nav{
    justify-content: space-between;
    display: flex;
    z-index: 10;
    background: #303133;
    height: 80px;
    color: rgb(255, 253, 253);
}
.va__container{
    display: flex;
    height: 100px;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}
.nav__logo{
    display: flex;
    margin-left: -60px;
    font-size: 1.5em;
    font-weight: 900;
}
.menu{
display: flex;
font-size: 1.3em;
}
.ul-menu{
   
    position: relative;
    left: 550px;
    justify-content: end;
    display: flex;
    gap: 20px;
    cursor: pointer;
} 
.link{
    text-decoration: none;
    color: aliceblue;
    display: flex;
}
.txt{
    color: #303133;
}