body{
    background-color: rgb(116, 105, 91);
}
h1{
    text-align: center; color: aquamarine;
    font-family: 'Courier New', Courier, monospace;font-size: 1.5em; font-style: italic;

}

p{
   font-size: 1.5em; font-family: 'Patrick Hand', cursive; color: aquamarine;
}
h2{
    font-size: 1.5em; font-size: "Lobster"; color: blanchedalmond;
}
h3{
font-family: 'Dancing Script', cursive;
font-size: 1.5em; color: rgb(71, 55, 34);
}